body{
    margin: 0;
    position: relative;
}
.nav{
    display: flex;
    background-color: rgb(26, 66, 138);
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    margin-top: 1.5%;
    font-size: 15px;
    display: block;
    justify-content: space-between;
    margin-left: 53%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
main{
    height: auto;
    width: auto;
    margin-left: 5%;
}
.info{
    margin-left: 12%;
    position: relative;
}
button {
    color: #ffffff;
    background-color: #c8872d;
    font-size: 19px;
    border: 1px solid #2d63c8;
    letter-spacing: 1px;
    cursor: pointer;
}
button:hover {
    color: #000000;
    background-color: #e8aa54;
}
.in-box{
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.247);
    text-align: center;
    margin: 5px;
}
.simple-box{
    background-color: rgba(128, 128, 128, 0.24);
    position: relative; 
    left: 1020px; 
    bottom: 800px; 
    width: 200px;
}
footer{
    background-color: rgb(180, 122, 36);
    padding: 10px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.logo{
    margin-left: 120%;
    height: 70px;
}
.kids{
    height: 350px; 
    width: 1240px;
    margin-left: 210px;
}
.grad{
    height: 500px;
    width: 1000px;
}
.bigb{
    width: 200px;
}
.dwlehicon{
    height: 100px;
    margin-left: 40%;
}
.ib{
    height: 100px;
}
.flw{
    position: absolute;
    bottom: 50px;
}
.p{
    font-size: 21px;
}
@media (max-width: 450px){
    .logo{
        margin-left: 10%;
        height: 50px;
    }
    .links{
        margin-top: 4.5%;
        font-size: 7px;
        display: block;
        justify-content: space-between;
        margin-left: 17%;
    }
    .icons{
        height: 10px;
    }
    .kids{
        height: 150px; 
        width: 350px;
        margin-left: 1%;
    }
    .grad{
        height: 200px;
        width: 250px;
        margin-left: 1%;
    }
    .p{
        font-size: 10px;
        margin-left: 1%;
    }

    .in-box{
        padding: 5px;
        background-color: rgba(128, 128, 128, 0.247);
        text-align: center;
        margin: 5px;
        font-size: 5px;
    }
    .simple-box{
        background-color: rgba(128, 128, 128, 0.24);    
        left: 65%; 
        bottom: 350px; 
        width: 100px;
        height: 200px;
        font-size: 7px;
    }
    .bigb{
        width: 100px;
        font-size: 10px;
    }
    button {
        color: #ffffff;
        background-color: #c8872d;
        font-size: 15px;
        border: 1px solid #2d63c8;
        letter-spacing: 1px;
        cursor: pointer;
    }
    footer{
        background-color: rgb(180, 122, 36);
        padding: 10px;
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0%;
    }
    .ib{
        height: 70px;
    }
    .dwlehicon{
        height: 70px;
        margin-left: 22%;
    }
    .info{
        margin-left: 0px;
    }
}