body{
    margin: 0;
    position: relative;
}
.nav{
    display: flex;
    background-color: rgb(26, 66, 138);
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    margin-top: 1.5%;
    font-size: 15px;
    display: block;
    justify-content: space-between;
    margin-left: 50%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.a{
    text-decoration: none;
    color: black;   
    font-weight: bold;
}
main{
    height: auto;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
}
.info{
    position: relative;
}
button {
    color: #ffffff;
    background-color: #c8872d;
    font-size: 19px;
    border: 1px solid #2d63c8;
    letter-spacing: 1px;
    cursor: pointer;
}
button:hover {
    color: #000000;
    background-color: #e8aa54;
}
.in-box{
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.247);
    text-align: center;
    margin: 5px;
}
.simple-box{
    background-color: rgba(128, 128, 128, 0.24);
    width: 200px;
    position: absolute;
    top: 35%;
    left:60%;
}
footer{
    background-color: rgb(180, 122, 36);
    padding: 10px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.logo{
    margin-left: 70%;
    height: 70px;
}
.kids{
    height: 10%; 
    width: 80%;
}
.grad{
    height: 500px;
    width: 60%;
}
.bigb{
    width: 200px;
}
.dwlehicon{
    height: 100px;
    margin-left: 40%;
}
.ib{
    height: 100px;
}
.flw{
    position: absolute;
    bottom: 50px;
}
.p{
    font-size: 21px;
}
@media (max-width: 1440px){
    body{
        margin: 0;
        position: relative;
    }
    .nav{
        display: flex;
        background-color: rgb(26, 66, 138);
        font-family: Arial, Helvetica, sans-serif;
    }
    .links{
        margin-top: 1.5%;
        font-size: 15px;
        display: block;
        justify-content: space-between;
        margin-left: 50%;
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
    main{
        height: auto;
        width: auto;
        margin-left: 15%;
    }
    .info{
        position: relative;
    }
    button {
        color: #ffffff;
        background-color: #c8872d;
        font-size: 19px;
        border: 1px solid #2d63c8;
        letter-spacing: 1px;
        cursor: pointer;
    }
    button:hover {
        color: #000000;
        background-color: #e8aa54;
    }
    .in-box{
        padding: 5px;
        background-color: rgba(128, 128, 128, 0.247);
        text-align: center;
        margin: 5px;
    }
    .simple-box{
        background-color: rgba(128, 128, 128, 0.24);
        width: 200px;
        position: absolute;
        top: 30%;
        left:67%;
    }
    footer{
        background-color: rgb(180, 122, 36);
        padding: 10px;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }
    .logo{
        margin-left: 70%;
        height: 70px;
    }
    .kids{
        height: 10%; 
        width: 80%;
    }
    .grad{
        height: 500px;
        width: 60%;
    }
    .bigb{
        width: 200px;
    }
    .dwlehicon{
        height: 100px;
        margin-left: 40%;
    }
    .ib{
        height: 100px;
    }
    .flw{
        position: absolute;
        bottom: 50px;
    }
    .p{
        font-size: 21px;
    }
}
@media (max-width: 450px){
    body{
        margin: 0;
        position: relative;
    }
    .nav{
        display: flex;
        background-color: rgb(26, 66, 138);
        font-family: Arial, Helvetica, sans-serif;
    }
    .links{
        margin-top: 1.5%;
        font-size: 15px;
        display: block;
        justify-content: space-between;
        margin-left: 50%;
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
    .a{
        text-decoration: none;
        color: black;   
        font-weight: bold;
    }
    main{
        height: auto;
        width: auto;
        margin-left: 15%;
        margin-right: 15%;
    }
    .info{
        position: relative;
    }
    button {
        color: #ffffff;
        background-color: #c8872d;
        font-size: 19px;
        border: 1px solid #2d63c8;
        letter-spacing: 1px;
        cursor: pointer;
    }
    button:hover {
        color: #000000;
        background-color: #e8aa54;
    }
    .in-box{
        padding: 5px;
        background-color: rgba(128, 128, 128, 0.247);
        text-align: center;
        margin: 5px;
    }
    .simple-box{
        background-color: rgba(128, 128, 128, 0.24);
        width: 200px;
        position: absolute;
        top: 35%;
        left:60%;
    }
    footer{
        background-color: rgb(180, 122, 36);
        padding: 10px;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }
    .logo{
        margin-left: 70%;
        height: 70px;
    }
    .kids{
        height: 10%; 
        width: 80%;
    }
    .grad{
        height: 500px;
        width: 60%;
    }
    .bigb{
        width: 200px;
    }
    .dwlehicon{
        height: 100px;
        margin-left: 40%;
    }
    .ib{
        height: 100px;
    }
    .flw{
        position: absolute;
        bottom: 50px;
    }
    .p{
        font-size: 21px;
    }
}